body {
    background: url('../static/images/content/header-blurred.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.centrado-por-cojones {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

.crd {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-error {
    position: absolute; bottom:50px; left:50%; transform:translateX(-50%); text-align:center;
}

@media only screen and (max-height: 1280px) {
    .crd {
        top: 30%;
    }
}

@keyframes showup {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hidde-err {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}